/*.well {
    background-color: #ffffff;
    margin-top: 100px;
    border-radius: 0!;
    border: none;
}

.well.login-box legend {
    text-align: center;
}

.well.login-box {
    text-align: center;
    width: 10px;
    margin-top: 0 auto;
    display: none;
}

.well.login-box label {
    font-weight: 200;
    font-size: 16px;
}

.well.login-box input[type="text"] {
    box-shadow: none;
    border-color: #dddddd;
    border-radius: 0;
}

.well.welcome-text {
    font-size: 10px;
}


/* Notifications 

.notification {
    position: fixed;
    top: 20px;
    right: 0;
    background-color: #FF4136;
    padding: 20px;
    color: #fff;
    font-size: 21px;
    display: none;
}

.notification-success {
    background-color: #3D9970;
}

.notification-show {
    display: block!important;
}


/*Loged in

.logged-in {
    display: none;
}

.logged-in h1 {
    margin: 0;
    font-weight: 300;
}*/