h2 {
    //* background-color: darkseagreen;*//
    color: darkgray;
    font-family: sans-serif;
    text-align: center;
}

div.container {
    margin-top: 150px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 80px;
}